
img#img_user{
    width:25px;
    position: absolute;
    left: 25px;
}

img#img_cadeado{
    width: 25px;
    position: absolute;
    left: 25px;
}

section{
    background: rgb(85, 201, 255);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    width: 300px;
    height:220px;
    font: normal 20px courier;
    
}

p#txt_cadastro{
    font: normal 15px courier;
    position: absolute;
    left: 25px;
    top: 200px;
}

input#box_user{
    border-radius: 10px;
    position: absolute;
    left: 60px;
}

input#box_senha{
    border-radius: 10px;
    position: absolute;
    left: 60px;
}

button#btn_entrar{
    border-radius: 20px;
    background-color: rgb(0, 119, 255);
    width: 100px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-color:rgb(0, 153, 255)
}

#section_cadastro{
    width: 300px;
    height: 220px;
    padding: 10px;
}

#txt_new_user{
    text-align: center;
    font: normal 20px courier;
}

#txt_senha_new_user{
    position: absolute;
    top: 90px;
    left: 138px;
}

input#input_new_user{
    border-radius: 10px;
    position: absolute;
    top: 45px;
    left: 60px;
}

input#box_senha_new_user{
    border-radius: 10px;
    position: absolute;
    top: 118px;
    left: 60px;
}

input#box_repetir_senha_new_user{
    position:absolute;
    top: 155px;
    left: 60px;
    border-radius: 10px;
}

#btn_cadastrar_user{
    position: absolute;
    top: 210px;
    left: 230px;
    border-radius: 5px;
    background: rgb(0, 119, 255);
    border-color: rgb(0, 119, 255);
    padding: 1px;
}

#btn_cadastrar_new_user{
    position: absolute;
    top: 190px;
    left: 125px;
    border-radius: 10px;
    padding: 3px;
    text-shadow: 2px 3px 5px black;
    box-shadow: 15px 5px 15px black;
}

.Estilo_Msg_Do_Server{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    position: absolute;
    top: 225px;
    left: 60px;
    text-shadow: 5px 5px 5px black;
}

#img_cadeado_cadastro{
    width: 25px;
    position: absolute;
    top: 115px;
    left: 30px;
}

#img_cadeado2_cadastro{
    width: 25px;
    position: absolute;
    top: 155px;
    left: 30px;
}

#img_new_user{
    width: 25px;
    position: absolute;
    top: 45px;
    left: 30px;
}