.ContainerDiv{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.InsideParallax{
    position: absolute;
    top: 120px;
    left: 50%;
}

.CustomParallax{
    height: 500px;
    position: absolute;
    top: 40px;
    left: -10px;
    width: 1370px;
}

.ContainerConteudo{
    background-color: white;
    height: 500px;
    width: 1380px;
    position: absolute;
    left: -10px;
}

.FraseInterativa{
    color: white;
    font: italic bold 20px Arial;
    position: absolute;
    top: 180px;
    left: 50px;
}

.Profissao{
    position: absolute;
    top: 120px;
    left: 50px;
    font: italic bold 18px Arial;
    color: white;
}

#ContainerMinhaDescricao{
    position: absolute;
    left: 360px;
    font-size: 12px;
    text-align: justify;
    font: italic bold 15px Arial;
}

#Meu_Nome{
    text-align: center;
    font: bold 25px Arial;
    text-shadow: 2px 2px 2px black;
}

  

